/* styling om op "0" te beginnen */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/******************************/
/*     DEFAULT TYPOGRAFIE     */
/******************************/

h1,
h2,
h3,
p,
li,
a,
li {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

button {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
button {
    text-transform: uppercase;
}

/******************************/
/*          ASIDE STIJLING    */
/******************************/

a {
    text-decoration: none;
}

aside {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282829;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}

aside p:nth-last-child(1) {
    text-decoration: underline;
    margin-left: 0.5rem;
}

body header aside img {
    max-width: 50px;
}

/******************************/
/*          HAMBURGER MENU    */
/******************************/
/* ik ben met het maken van het hamburger menu geholpen door Lisa Oude Elferink (studente CMD).*/

/* container hamburger */
header div:nth-of-type(1) {
    position: relative;
    height: 6rem;
    width: auto;
}

header nav div {
    position: absolute;

}

/* ruimte hamburger */
.hamburger {
    position: relative;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    margin-top: -1.5rem;
}

/* hamburger strepen */
span::before,
span::after {
    content: '';
    position: absolute;
    display: block;
    background: #272727;
    height: 3px;
    width: 1rem;
    left: 2rem;
}

/* hamburger posistie onderste streep  */
span::after {
    bottom: 39px;
}

/* hamburger transitie boventste streep, zo vormt het het kruisje */
.hamburger.active span::before {
    top: 46px;
    transform: rotate(135deg);
    transition: 0.75s;
}

/* hamburger transitie onderste streep, zo vormt het het kruisje */
.hamburger.active span::after {
    top: 46px;
    transform: rotate(225deg);
    transition: 0.75s;
}


/******************************/
/*          NAVIGATIE         */
/******************************/

/* navigatie background */
nav {
    position: absolute;
    transform: translateX(-110%);
    background-color: #FFFFFF;
    width: 110%;
    height: 100vh;
    display: flex;
    transition: .5s ease-in-out;
}

/* als de nav actief is, wordt hij binnengeschoven*/
nav.active {
    transform: translateX(0%);
}


nav ul {
    position: absolute;
}

/* de hoogte van de list items in de nav*/
nav ul li {
    height: 35px;
    margin-left: 2rem;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: -3.5rem;
}

/******************************/
/*          HEADER            */
/******************************/
header {
    background-image: url('../images/home-mount-everest_1280x.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    min-height: 400px;

}

header h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: 0.15em;
    line-height: 2.5rem;
}

body header section:nth-of-type(2) h2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #282829;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    border: none;
    width: 50%;
    font-weight: 300;
    font-size: 12px;
    justify-content: center;

}

/* stijling van de navigatie */

nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100vh;

}

nav ul li {
    color: black;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    list-style: none;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 0rem 0rem 0rem;
    border-top: solid;
    border-width: 1px;
    border-color: #c8c8c8;
}

nav ul li:nth-of-type(8) {
    color: #c8c8c8;

}

nav ul li:nth-of-type(1) img {
    margin-left: 14rem;
}

nav ul li:nth-of-type(2) img {
    margin-left: 15rem;
}

nav ul li:nth-of-type(7) img {
    margin-left: 14rem;
}

nav ul li img {
    width: 0.7rem;
    height: 0.7rem;
}


img {
    max-width: 100%;
}

body header section a {
    text-transform: uppercase;
    color: #000;
    font-weight: 300;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    margin-top: -1.3rem;
    margin-right: 1.3rem;

}

.cssnewarrivals header a:nth-of-type(2) {
    color: #fff;
}



/******************************/
/*          SECTIONS            */
/******************************/
/* stijling van de eerste section, 3 afbeeldingen speels naast elkaar */

main section:nth-of-type(1) {
    max-width: 100%;
}

main section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main article:nth-of-type(2) {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: flex-start;
}

main article:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2;
}

main article:nth-of-type(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

main section article img {
    padding: 1rem;
}

main section article:nth-of-type(2) img {
    max-width: 13rem;
}

main section article:nth-of-type(4) h2 {
    color: #000;
}

main section article:nth-of-type(4) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    :
}

main section:nth-of-type(1) a h2 {
    background-color: #fff;
    color: #000;
    padding: 5px 55px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #c8c8c8;
    margin: 3rem;
    font-size: 12px;
}

main section article:nth-of-type(4) p {
    margin: 2rem 2rem 0rem 2rem;
    font-weight: 300;
    text-align: center;
}


/* stijling van de sections, background image + alles centreren */


main section:nth-of-type(2) {
    background-image: url('../images/BP_400x.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(3) {
    background-image: url('../images/classic_home_tile.001_1_1800x_47514886-9faa-4625-bb13-1e660f37ed9a_1800x.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main section:nth-of-type(4) {
    position: relative;
    background-image: url('../images/homepage_tiles.002_1500x.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0.25em;
}

main section:nth-of-type(5) {
    position: relative;
    background-image: url('../images/homepage_tiles.004_1500x.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0.25em;
}

main section:nth-of-type(6) {
    position: relative;
    background-image: url('../images/mobile_home_images_large.002_1_2500x.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/******************************/
/*        TYPOGRAFIE          */
/******************************/
/* stijling van de typografie in de sections */


main section h2 {
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 0.068em;

}

main section:nth-of-type(3) h2 {
    font-size: 2.2rem;
    padding: 3rem 4rem 0rem;
}

/* deze section heeft als enige een andere font-kleur*/

main section:nth-of-type(3) h2 {
    color: #000;
}


main section:nth-of-type(3) p {
    color: #96968A;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
}

/******************************/
/*          BUTTONS            */
/******************************/
/* stijling van de buttons in de sections */

main section:nth-of-type(2) a h2 {
    background-color: #fff;
    color: #000;
    padding: 5px 20px;
    text-decoration: none;
    border-style: solid;
    border-color: #fff;
    font-size: 12px
}

main section:nth-of-type(4) a h2 {
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    font-size: 12px;
}

main section:nth-of-type(5) a h2 {
    display: block;
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    font-size: 12px;
}

main section:nth-of-type(6) a h2 {
    display: block;
    background-color: #fff;
    color: #000;
    padding: 5px 20px;
    text-decoration: none;
    border-style: solid;
    border-color: #fff;
    font-weight: 500;
    height: 28px;
    min-width: 180px;
    font-size: 12px;
}

main section:nth-of-type(6) p {
    color: #fff;
    text-align: center;
    max-width: 70%;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2rem;
}

/******************************/
/*          FOOTER            */
/******************************/

footer section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer section li {
    list-style: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #96968A;
    font-size: 14px;
    letter-spacing: 1.72px;
    padding: 0.5rem;
    margin-left: 1rem;
}

footer h3 {
    font-size: 18px;
    letter-spacing: 1.72px;
    font-weight: 600;
    color: #969696;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

footer section p {
    font-size: 12px;
    margin-left: 2rem;
    margin-top: 1rem;
}

footer section p:nth-of-type(2) {
    margin-bottom: 2rem;
    margin-right: 2rem;
    font-weight: 200;
}

footer section img {
    max-width: 20px;
    margin: 0.25rem;
}

footer section a h2 {
    display: block;
    margin-left: 2rem;
    background-color: #fff;
    color: #000;
    padding: 5px 20px;
    text-decoration: none;
    border-style: solid;
    border-color: #969696;
    border-width: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 12px;
    margin-right: 2rem;
}

footer section:nth-of-type(3) {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 8rem;
}


/******************************/
/*      TWEEDE PAGINA         */
/******************************/

/* andere header afbeelding*/

.cssnewarrivals header {
    background-image: url('../images/collection_headers_new_site.001_1200x.png');
    height: 300px;
    min-height: 300px;
}

/* plaatsen van items in een grid */

.cssnewarrivals main section {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* sommige items moet ik specifiek een positie geven, anders pakt hij de css wat ik voor de homepage heb gebruikt */

.ccsnewarrivals main article:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
}

.cssnewarrivals main article:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2;
}

.cssnewarrivals main article:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
}

.cssnewarrivals main section:nth-of-type(1) {
    background-image: none;
}

.cssnewarrivals main section article {
    width: 10rem;
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.cssnewarrivals main section article img {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}

.cssnewarrivals h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    letter-spacing: 0.15em;
    line-height: 2.5rem;
    color: #ffffff;
    font-weight: 400;
}

.cssnewarrivals section a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    justify-content: flex-end;
    margin-top: -1.3rem;
    margin-right: 1.3rem;

}

.cssnewarrivals main section article h2 {
    color: #000;
    font-size: 16px;
    margin-bottom: 0px;
}

/******************************/
/*      ANIMATIONS         */
/******************************/

/* bounce in van de h1 homepage */
/* met hulp van: https://thoughtbot.com/blog/css-animation-for-beginners */

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
        color: #fff;
    }

    100% {
        transform: scale(1);
    }
}

header h1 {
    animation-duration: 4s;
    animation-name: bounceIn;
}

/* bounce in van de h1 new arrivals page */
/* met hulp van: https://thoughtbot.com/blog/css-animation-for-beginners */

@keyframes bounceIn2 {
    0% {
        transform: rotate(0turn);
        opacity: 0;
    }

    100% {
        transform: rotate(1turn);
    }
}

.cssnewarrivals header h1 {
    animation-duration: 2s;
    animation-name: bounceIn2;
}

/* animatie button */

@keyframes slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body header section:nth-of-type(2) h2 {
    animation-duration: 6s;
    animation-name: slideIn;
}

/*zoom in on images*/

img:hover{
transform: scale(1.2);
}
